<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>