<header>
  <h1>{{pageTitle}}</h1>
  <div>
    <a href="/" id="item1">Home</a>
    <a href="/about" id="item2">About</a>
    {{!-- <a href="/help.html" id="item3" target="_blank">Help</a> --}}
    <a href="/help.html" id="item3">Help</a>
  </div>
</header>

