<header>
  <h1>{{pageTitle}}</h1>
  
  <div class="main">
    <div class="center">
      <a href="/" class="nav">Home</a>
    </div>
  
    <div class="center">
      <a href="/about" class="nav">About</a>
    </div>
  
    <div class="center">
      <a href="/projects" class="nav">Projects</a>
    </div>
  
    <div class="center">
      <a href="/help.html" class="nav" target="_blank">Help</a>
    </div>
  </div>
</header>

