<header>
  <h1>{{pageTitle}}</h1>
  <div>
    <a href="/" class="nav">Home</a>
    <a href="/about" class="nav">About</a>
    <a href="/projects" class="nav" >Projects</a>
    <a href="/help.html" class="nav" target="_blank">Help</a>
  </div>
</header>

