<!DOCTYPE html>
<html>

{{> head}}

<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed mattis turpis. Fusce fringilla sagittis
    ullamcorper. Aliquam bibendum ultricies tellus vel sodales. Donec faucibus justo vestibulum, finibus elit nec,
    tincidunt urna. Praesent dui quam, ullamcorper vitae enim nec, convallis pretium justo. Vivamus luctus dolor quis
    odio tristique tincidunt. Donec ullamcorper, sem vel semper aliquam, massa libero cursus augue, mattis malesuada
    odio odio efficitur arcu. In pretium metus quis pellentesque consequat. Maecenas et sodales velit, quis faucibus
    purus. Aliquam non augue in sapien ultricies eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae; Etiam nec ipsum condimentum, efficitur augue sed, placerat turpis.</p>

  {{> footer}}
</body>

</html>