* {
  margin: 5;
  padding: 5;
}

.nav {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  background-color: black;
}

.nav:hover {
  font-weight: 900;
}

div {
  background-color: black;
}